// Black
$black-01: #282828;
$black-02: #232323;
$black-03: #242424;
$black-04: #000;
$black-05: rgba(0,0,0,.3);
$black-06: rgba(40,40,40,.05);
$black-07: #313131;

// Grey
$grey-01: rgba(255, 255, 255, 0.4);
$grey-02: rgba(255,255,255,.5);
$grey-03: rgba(255,255,255,.3);
$grey-04: rgba(255,255,255,.2);
$grey-05: rgba(0,0,0,.2);
$grey-06: rgba(255,255,255,.7);

// Red
$red-01: #f5543f;

// Shadow
$shadow-01: rgba(0, 0, 0, 0.7);
$shadow-02: rgba(0, 0, 0, 0.1);

// White
$white-01: #FFF;
$white-02: #F5F5F5;

// yellow
$yellow-01: #c4956a;

// Screen
$tablet: (min-width: 768px) and (max-width: 1023px);
$desktop: (min-width: 1024px);